.about {
    width: 550px;
    height: 419px;
    box-sizing: border-box;
}

.about-pos {
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.about_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.about_text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #787878;
}