.page {
    margin: 0;
    padding: 0;
    width: 1368px;
}

.header {
    width: 100%;
    height: 670px;
    background: #e9e9e9;
    background-size: cover;

}

.header-pos {
    margin-bottom: 2%;
    position: relative;
}

.menu_logo {
    margin: -5px auto 0 auto;
}

.menu {
    width: 100%;
    padding-top: 45px;
    margin: 0 96px;
}

.menu_item {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.menu_item-pos {
    margin-right: 150px;
    display: inline-block;
    float: right;
}

.menu_link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 30px;
}

.menu_link_active {
    color: #10c9c3;
}

.banner {
    width: 483px;
    float: right;
    padding-top: 184px;
    padding-right: 190px;

}

.banner_tittle {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
}

.banner_text {
    font-family: 'Nunito Sans', sans-serif;
    color: #787878;
    font-size: 18px;
    text-align: left;
}

.banner_button {
    color: white;
    background: #10c9c3;
    opacity: 1;
    width: 179px;
    height: 54px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 4;
}

